<!-- <h1>estas en Obras</h1> -->
<h2 class="obras">OBRAS</h2>
		<h3 class="obras poesia">POESIA</h3>
        <br>
        <div class="libros">
            <div>
                <h3 class="libros-titulo">Amores despechados</h3>
                <div class="libros-info">
                    <img class="libros-imagen" src="/assets/images/amores.jpeg" alt="portada de libro amores despechados poemario">
                    <p class="libros-texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur atque repellat facere repudiandae perspiciatis cumque aliquam nesciunt sapiente! Velit cumque repellendus numquam quam, ad ratione tempora amet fugit nobis?</p>
                </div>
            </div><!-- Acá cierra .libros-titulo -->
            
            <div>
                <h3 class="libros-titulo">Ilusión colectiva</h3>
                <div class="libros-info">
                    <img class="libros-imagen" src="/assets/images/ilusion.jpeg" alt="portada de libro ilusion colectiva poemario realista">
                    <p class="libros-texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur atque repellat facere repudiandae perspiciatis cumque aliquam nesciunt sapiente! Velit cumque repellendus numquam quam, ad ratione tempora amet fugit nobis?</p>
                </div>
            </div><!-- Acá cierra .libros-titulo -->
            
            <div>
                <h3 class="libros-titulo">Del otro lado</h3>
                <div class="libros-info">
                    <img class="libros-imagen" src="/assets/images/lado.jpeg" alt="portada de libro del otro lado poemario oscuro ">
                    <p class="libros-texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur atque repellat facere repudiandae perspiciatis cumque aliquam nesciunt sapiente! Velit cumque repellendus numquam quam, ad ratione tempora amet fugit nobis?</p>
                </div>
            </div><!-- Acá cierra .libros-titulo -->
            
            <div>
                <h3 class="libros-titulo">En el fondo del mar</h3>
                <div class="libros-info">
                    <img class="libros-imagen" src="/assets/images/mar.jpeg" alt="portada del libro En el fondo del mar poemario infantil">
                    <p class="libros-texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur atque repellat facere repudiandae perspiciatis cumque aliquam nesciunt sapiente! Velit cumque repellendus numquam quam, ad ratione tempora amet fugit nobis?</p>
                </div>
            </div><!-- Acá cierra .libros-titulo -->

            <div>
                <h3 class="libros-titulo">Lo que me provocas</h3>
                <div class="libros-info">
                    <img class="libros-imagen" src="/assets/images/provocas.jpeg" alt="portada del libro Lo que me provocas poemario erotico">
                    <p class="libros-texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur atque repellat facere repudiandae perspiciatis cumque aliquam nesciunt sapiente! Velit cumque repellendus numquam quam, ad ratione tempora amet fugit nobis?</p>
                </div>
            </div><!-- Acá cierra .libros-titulo -->
        </div><!-- Acá cierra .libros -->

        <h3 class="obras aforismos">AFORISMOS</h3>

        <div class="libros-aforismos">
            <div>
                <h3 class="libros-titulo">Mis trece lunas</h3>
                <div class="libros-info">
                    <img class="libros-imagen" src="/assets/images/lunas.jpeg" alt="portada del libro Mis trece lunas tzolkin aforismos">
                    <p class="libros-texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt consequatur atque repellat facere repudiandae perspiciatis cumque aliquam nesciunt sapiente! Velit cumque repellendus numquam quam, ad ratione tempora amet fugit nobis?</p>
                </div>
            </div><!-- Acá cierra .libros-titulo -->
        </div> <!-- Acá cierra .libros-aforismos -->