/*
    -------------------------------------
                  OBRAS
    -------------------------------------
*/

.obras{
    font: normal 60px "Cookie", cursive ;
    text-align: center;
    font-weight: bold;
    color: violet;
}
.poesia,
.aforismos {
    font-size: 30px;
    margin-top: 10px;
    color: gray;
}

.libros,
.libros-aforismos {
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 5px;
}
/* Solución 3, con un div adicional */
.libros-titulo {
    margin-bottom: 20px;
    font-size: 20px;
}
.libros-info {
    display: flex;
    align-items: flex-start;
}
.libros-imagen {
    margin-right: 20px;
    max-width: 40%;
}

@media (max-width: 400px){
    .libros,
    .libros-aforismos{
        grid-template-columns: 1fr;
    }
    
}