<!-- <p>carousel works!</p> -->
<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1cbdd273-37ed-413f-a0a5-0b7534ad6bd2/dewgw5w-b68cf48a-780d-44e5-ae64-a90443078543.png/v1/fill/w_1280,h_266,q_80,strp/carrusel_by_tuxfalk_dewgw5w-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjY2IiwicGF0aCI6IlwvZlwvMWNiZGQyNzMtMzdlZC00MTNmLWEwYTUtMGI3NTM0YWQ2YmQyXC9kZXdndzV3LWI2OGNmNDhhLTc4MGQtNDRlNS1hZTY0LWE5MDQ0MzA3ODU0My5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.6XlGNylJsUX3IMJZ_5pCm1i_txtZI2weAivQTy5whYY">
        </div>
        <input class="slide-open" type="radio" id="slide-2" name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1cbdd273-37ed-413f-a0a5-0b7534ad6bd2/dewgw5e-ca6f69a4-08a7-425a-b71c-22b7baaa4d6e.png/v1/fill/w_1280,h_266,q_80,strp/carrusel1_by_tuxfalk_dewgw5e-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjY2IiwicGF0aCI6IlwvZlwvMWNiZGQyNzMtMzdlZC00MTNmLWEwYTUtMGI3NTM0YWQ2YmQyXC9kZXdndzVlLWNhNmY2OWE0LTA4YTctNDI1YS1iNzFjLTIyYjdiYWFhNGQ2ZS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.TjLZNq67fI-eYWr7KZN26BNGYNycx4qJDWp3kvH5Rv4">
        </div>
        <input class="slide-open" type="radio" id="slide-3" name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1cbdd273-37ed-413f-a0a5-0b7534ad6bd2/dewgwmu-20eb2cc1-f61a-462e-a66b-f4100d0d9207.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFjYmRkMjczLTM3ZWQtNDEzZi1hMGE1LTBiNzUzNGFkNmJkMlwvZGV3Z3dtdS0yMGViMmNjMS1mNjFhLTQ2MmUtYTY2Yi1mNDEwMGQwZDkyMDcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.sZucXGB4C6u_B6fZ5aMD-Wc7EaasnVhQ1rQykmXbqSo">
        </div>
        <label for="slide-3" class="slide-control prev control-1">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-1" class="slide-control next control-3">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>