<article class="slide" role="presentation">
 <div id="eli-slider">
    <ul class="slider">
      <li id="slide1">
        <h1>Desafios mensuales</h1>
        <img src="/assets/images/carrusel.png" alt="carrusel de novedades">
      </li>
      <li id="slide2">
        <img src="/assets/images/carrusel1.png" alt="carrusel de novedades"/>
      </li>
      <li id="slide3">
        <img src="/assets/images/carrusel2.png" alt="carrusel de novedades"/>
      </li>
    </ul>
    <ul class="menu">
      <li>
        <a href="#slide1">1</a>
      </li>
      <li>
        <a href="#slide2">2</a>
      </li>
       <li>
        <a href="#slide3">3</a>
      </li>
    </ul>
  </div>
</article>