<article role="main">
<!-- Header -->
<div class="header">
    <h1>Galeria de desafios mensuales</h1>
    <p>
        <a href="https://www.instagram.com/noviembresia/" target="blank" alt="ir a instagram noviembresia">Noviembresia
            (@noviembresia)</a>
        y
        <a href="https://www.instagram.com/officialpoember/?hl=es" target="blank"
            alt="ir a instagram poember">Poember(@oficialpoember)</a>
    </p>
</div>
<!-- Photo Grid -->
<div class="row">
    <div class="column">
        <img src="/assets/images/novedades (1).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/elidelmar.png" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (3).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (4).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (5).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (6).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (7).jpeg" style="width:100%" class="image" alt="poema">
    </div>

    <div class="column">
        <img src="/assets/images/novedades (8).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (9).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (10).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/elidelmar.png" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (11).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (12).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (13).jpeg" style="width:100%" class="image" alt="poema">
    </div>

    <div class="column">
        <img src="/assets/images/novedades (14).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (15).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (16).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (17).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (18).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (19).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/elidelmar.png" style="width:100%" class="image" alt="poema">
    </div>

    <div class="column">
        <img src="/assets/images/novedades (21).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (22).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (23).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (24).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (25).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (20).jpeg" style="width:100%" class="image" alt="poema">
        <img src="/assets/images/novedades (2).jpeg" style="width:100%" class="image" alt="poema">
    </div>
</div>
<div class="separador"></div>
</article>