<div class="autora">
    <h1 class="titulo">Sobre Elidelmar</h1>
    <img class="retrato" src="/assets/images/autora.jpg" alt="elidelmar-autora">
        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est numquam fuga neque vitae in veniam cupiditate repudiandae, nemo obcaecati, asperiores voluptate. Harum voluptates pariatur distinctio quisquam ut molestiae doloremque!
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia esse magnam dolore quae deserunt. Totam voluptas voluptate iste quibusdam, modi cumque id ducimus optio, ullam aliquid quam sapiente et culpa?
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam inventore sapiente ex saepe veritatis placeat sint tenetur labore odio aperiam id distinctio est praesentium mollitia, quibusdam officiis voluptatum ullam reprehenderit?.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque minima reprehenderit facere recusandae, deserunt modi molestiae sequi iusto ex eos, explicabo accusamus! Numquam esse illo facilis laudantium! Numquam, non minima.
    </span>
    </p>
</div>
<!--  End Page Content -->
