<p>article works!</p>

<section>
    <div class="section">
        <!-- cuerpo - diapositivas con los ultimos post del blog -->
        <div class="blog">
            <img src="/assets/images/treceblog.png" alt="Portada Trece Lunas">
            <div class="contenido">
                <h2>Trece Lunas en Mexico</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex quisquam distinctio voluptates
                    maxime quasi velit placeat qui molestiae sequi esse, recusandae id assumenda nisi animi et
                    expedita quis maiores fuga!</p>
                <div class="center">
                    <a href="#">Ir al Blog</a>
                </div>
            </div>
        </div>
        <div class="blog">
            <img src="/assets/images/arbolesblog.jpeg" alt="pensamientos random">
            <div class="contenido">
                <h2>Reminiscencias</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex quisquam distinctio voluptates
                    maxime quasi velit placeat qui molestiae sequi esse, recusandae id assumenda nisi animi et
                    expedita quis maiores fuga!</p>
                <div class="center">
                    <a href="#">Ir al Blog</a>
                </div>
            </div>
        </div>
        <div class="blog">
            <img src="/assets/images/librosblog.jpg" alt="ensayos y lectura">
            <div class="contenido">
                <h2>Ensayos y lectura</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex quisquam distinctio voluptates
                    maxime quasi velit placeat qui molestiae sequi esse, recusandae id assumenda nisi animi et
                    expedita quis maiores fuga!</p>
                <div class="center">
                    <a href="#">Ir al Blog</a>
                </div>
            </div>
        </div>
        <div class="blog">
            <img src="/assets/images/contrablog.jpg" alt="aprenda a escribir">
            <div class="contenido">
                <h2>Contratapa</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex quisquam distinctio voluptates
                    maxime quasi velit placeat qui molestiae sequi esse, recusandae id assumenda nisi animi et
                    expedita quis maiores fuga!</p>
                <div class="center">
                    <a href="#">Ir al Blog</a>
                </div>
            </div>
        </div>
    </div>
</section>
