
<article role="main">
    <div class="separador"></div>
    <div class="hero">
        <h1 class="texto">Elidelmar
        <br>
        Blog</h1>
    </div>
    <div class="separador"></div>

    <br>
   <div class="poecat">
      <h2 class="h2poecat">
        Poesia y Gatitos
      </h2>
      <img src="/assets/images/gatito.gif" alt="gatito escribiendo" class="imgpoecat">
      <h3 class="h3poecat"> Sabias que:</h3>
      <p class="parrpoecat">
        {{data.fact}}
      </p>
   </div> 
</article>