
<article role="main">
<div id='container'>
  <div id='form-wrapper'>
    <form name="contact" id='contact-form' method="post"  data-netlify="true">
      <input type="hidden" name="form-name" value="contact" />
      <p style='display: none;'>
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </p>
      <h2>Formulario de contacto Netlify</h2>
      <div id='form-row-wrapper'>
      <div class='form-row'>
        <label>Tu nombre: </label><input type='text' name="name" formControlName="name" required aria-label="escribe tu nombre"/>
      </div>
      <div class='form-row'>
        <label>Tu Email: </label><input type='email' name="email" formControlName="email" required aria-label="escribe tu email"/>
      </div>
      <div class='form-row'>
        <label>Tu imagen favorita de Novedades: </label><input type='text' name="art" formControlName="art" aria-label="imagen favorita"/>
      </div>
      <div class='form-row'>
        <label>Tu mensaje:</label><textarea id='message' name="message" formControlName="message" required aria-label="escribe tu mensaje"></textarea>
      </div>
      <div id='button-row'>
        <button id='submit-button' type='submit'>Enviar</button>
      </div>
      </div>
    </form>
  </div>
</div>
</article>