
<!-- identifico el menu con un ID -->
<nav role="navigation">
    <ul class="main-nav" id="nav">
        <li class="nav-item">
            <a class="nav-item_link" routerLink="/autora">La autora</a>
        </li>
        <li class="nav-item">
            <a class="nav-item_link" routerLink="/obras">Obras</a>
        </li>
        <li class="nav-item">
            <a class="nav-item_link" routerLink="/novedades">Novedades</a>
        </li>
        <li class="nav-item">
            <a class="nav-item_link" routerLink="/blog">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-item_link" routerLink="/contacto">Contacto</a>
        </li>
    </ul>
</nav>


